body {
    margin: 0;
    padding-top: 70px;
    background-image: url("images/background.jpg");
    opacity: 0.99;
}

header {
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;

    border-bottom: 2px solid #cac4c4;
    background-color: hsl(218, 39%, 90%);
    height: 70px;
}

header .nav{
  position:absolute;
  display: flex;
  align-items: center;
  top:2px;
  left: 10px;
  height: 90%;
  width: 100%;
}

header .nav img{
  height: 112%;
  width: 130px;
  margin-right: 2%;
}

.phone{
  font-size: 20px;
  width: 25%;
  margin-left: 0%;
}

.webSiteName{
  margin: 0;
  font-size: 40px;
  width: 26%;
}

.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 84%;
  justify-content: center;
  text-align: center;
  height: auto;
}

.menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.menu li a{
  text-transform: uppercase;
  text-decoration: none;

  width: 30%;
  font-size: 35px;
  margin-right: 10%;
}

main{
    padding-top: 1px;
    min-height: 400px;
}

footer{
    border-top: 2px solid #cac4c4;
    margin-top: -14px;
    height: 130px;
    background-color: hsl(218, 39%, 90%);
}

.footerWebSiteName, .rights{
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin: 0;
}

.footerMenu{
  width:100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footerMenu li a{
  text-decoration: none;

  margin-right: 60px;
  margin-left: 60px;
  font-size: 24px;
}

.footerWebSiteName{
  font-size: 22px;
}

.commentsBox{
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  min-height: 300px;
  height: auto;
  background-color: hsl(218, 39%, 90%)  ;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.commentExample{
  margin: 0 auto;
  width: 90%;
  min-height: 100px;
  height: auto;
  font-size: 18px;
}

.strDateRating{
  display: flex;
  margin-left: 10px;
}

.DateRating{
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.commentDate{
  font-size: 18px;
}

.commBtns{
  display: flex;
  margin-left: 290px;
}

.commBtns button{
  margin-left: 20px;
  height: 50%;
  font-size: 14px;
  background-color: aquamarine;
  border-radius: 10px;
}

.commentItself{
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
}

.rating {
  font-size: 0; /* Устанавливаем размер шрифта в 0, чтобы символы не отображались */
  cursor: pointer;
}

.comRating {
  font-size: 0; /* Устанавливаем размер шрифта в 0, чтобы символы не отображались */
  margin-bottom: 25px;
}

.star {
  display: inline-block;
  width: 30px; /* Устанавливаем ширину звездочки */
  height: 30px; /* Устанавливаем высоту звездочки */
  color: rgb(52, 8, 101); /* Цвет звездочки */
  unicode-bidi: bidi-override;
  font-size: 30px; /* Устанавливаем размер шрифта для символа звездочки */
  margin-right: 5px; /* Отступ между звездочками */
  cursor: pointer;
}

.starEdit {
  display: inline-block;
  width: 30px; /* Устанавливаем ширину звездочки */
  height: 30px; /* Устанавливаем высоту звездочки */
  color: rgb(52, 8, 101); /* Цвет звездочки */
  unicode-bidi: bidi-override;
  font-size: 30px; /* Устанавливаем размер шрифта для символа звездочки */
  margin-right: 5px; /* Отступ между звездочками */
  cursor: pointer;
}

.comStar {
  display: inline-block;
  width: 30px; /* Устанавливаем ширину звездочки */
  height: 30px; /* Устанавливаем высоту звездочки */
  color: rgb(52, 8, 101); /* Цвет звездочки */
  unicode-bidi: bidi-override;
  font-size: 30px; /* Устанавливаем размер шрифта для символа звездочки */
  margin-right: 5px; /* Отступ между звездочками */
}

.star.selected{
  color: gold;
}

.starEdit.selected{
  color: gold;
}

.comStar.selected{
  color: gold;
}

.star-rating{
  font-size: 0; /* Устанавливаем размер шрифта в 0, чтобы символы не отображались */
}

.star-rating #text{
  display: none;
}

.star:before {
  content: "\2605"; /* Юникод символа звездочки */
}

.starEdit:before {
  content: "\2605"; /* Юникод символа звездочки */
}

.comStar:before {
  content: "\2605"; /* Юникод символа звездочки */
}

.commentForm{
  width: 90%;
  height: 220px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  border: 3px solid grey;
}

.newComment{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 889px;
  font-size: 18px;
}

.btnAddArea{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnAddComment{
  width: 220px;
  height: 40px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnAddComment:hover {
  background-color: red;
}

#burger, [for=burger]{
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
}

.modal2 {
  display: none; /* Начально скрываем модальное окно */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content2 {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
}

.modal-content2 h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-content2 label {
  font-size: 16px;
  font-weight: bold;
}

.modal-content2 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content2 input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content2 .modal-buttons2 {
  text-align: center;
}

.modal-content2 button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
}

.modal-content2 button:hover {
  background-color: #45a049;
}

.modal-content2 #edit-cancel {
  background-color: #ccc;
}

.modal-content2 #edit-cancel:hover {
  background-color: #b3b3b3;
}